<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Bands</title>

    <script src="https://kit.fontawesome.com/32ed1706f4.js" crossorigin="anonymous"></script>
</head>
<body>

<a href="/music/bands">All</a>
<a href="/music/favourites">Favourites</a>

<h1>{{ band_name }}</h1>

{% for album, songs in data %}

    <div class="band" style="float: left; border: 2px solid; padding: 20px; margin: 15px;">

        <h4>{{ album }}</h4>
        {% for song_id, song, favourite, search in songs %}
            <a href="https://www.youtube.com/results?search_query={{ search }}" target="_blank" style="color: #ff6b6b;">
                <i class="fab fa-youtube"></i>
            </a>
            {% if favourite %}
                <a href="/music/bands/song/{{ song_id }}/favourite?url={{ request.path }}">
                    <i class="fas fa-heart" style="color: red"></i>
                </a>

                <span style="color: #012600; background-color: #5dff60">
            {% else %}
                <a href="/music/bands/song/{{ song_id }}/favourite?url={{ request.path }}">
                    <i class="far fa-heart"></i>
                </a>
                <span style="color: black">
            {% endif %}
                {{ song }}
            </span>
            <br>
        {% endfor %}
    </div>

{% endfor %}

</body>
</html>