{% extends 'music/base.html' %}


{% block title %}
    All Bands
{% endblock %}


{% block body %}

    <h1>All Bands</h1>

    {% for alphabet, bands in data %}

        <table class="scrolldown">
            <thead>
            <tr>
                <th align="left">{{ alphabet }}</th>
            </tr>
            </thead>
            <tbody>
            {% for band in bands %}
                <tr>
                    <td>
                        <a href="{% url 'band' band.id %}">
                            {{ band }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endfor %}

{% endblock %}
