<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Bands</title>

    <script src="https://kit.fontawesome.com/32ed1706f4.js" crossorigin="anonymous"></script>
</head>
<body>

<h1>{{ band_name }}</h1>

{% for album, songs in data %}

    <div class="band" style="float: left; border: 2px solid; padding: 20px; margin: 15px;">

        <h4>{{ album }}</h4>
        {% for song, favourite, search in songs %}
            <a href="https://www.youtube.com/results?search_query={{ search }}" target="_blank" style="color: red;">
                <i class="fab fa-youtube"></i>
            </a>
            {% if favourite %}
            <i class="fas fa-heart"></i>
            <span style="color: green">
            {% else %}
            <i class="far fa-heart"></i>
            <span style="color: black">
            {% endif %}
                {{ song }}
            </span>
            <br>
        {% endfor %}
    </div>

{% endfor %}

</body>
</html>